html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    background-image: url("../public/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: spectral;
    margin: 0;
    padding: 0;
}

.logo{
    background-color: transparent;
    cursor: pointer;
    border: none;
    box-shadow: none;
    height: fit-content;
    width: fit-content;
    color: #889C9B;
    text-shadow: 2px 2px 5px #3B3936;;
} 

.page{
    min-height: 98vh;
    min-width: 900px;
    max-width: 1000px;
    margin: 2vh auto 0 auto;
    padding-bottom: 2vh;
    background-color: #889C9B;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid #3B3936;
    box-shadow: 2px 2px 5px #3B3936;
}

.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3B3936;
    font-weight: 800;
    font-size: 1.5rem;
    margin-top: 5rem;
}

.header{
    padding: 1rem;
    background: #486966;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #B2BEBF;
    border-bottom: 1px solid #3B3936;
    display: flex;
    align-items: center;
}

.header > button{
    display: flex;
    align-items: center;
    height: 1rem;
    margin-right: auto;
}

.header > button > h2 {
    display: flex;
    align-items: center;
    height: 1rem;
    font-size: 3rem;
    
}

.header > .menu > ul {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}

button{
    background-color: #B2BEBF;
    border:  1px solid #3B3936;
    color: #3B3936;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    font-family: spectral;
    box-shadow: 2px 2px 5px #3B3936;
}

input{
    font-family: spectral;
    box-shadow: 2px 2px 5px #3B3936;
}

.menu > ul > li > button{
    width: 10rem;
    height: 2.5rem;
    border-radius: 5px;
    border:  1px solid #3B3936;
}

.menu > ul > li > button:hover{
    background-color:darkslategray;
    cursor: pointer;
    color: white;
}

ul{
    list-style-type: none;
}

.search{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

.search > form{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.search > form > input{
    width: 15rem;
    height: 3rem;
    text-indent: 0.5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:  1px solid #3B3936;
    font-size: 1.5rem;
    box-shadow: 2px 2px 5px #3B3936;
}

.search > form > button{
    margin-right: 1rem;
    width: 8rem;
    height: 3rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 2px 2px 5px #3B3936;
}

.search > form > button:hover{
    background-color:darkslategray;
    cursor: pointer;
    color: white;
}

.team{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
}

.teamItem{
    width: 30rem;
    height: 3.5rem;
    background-color: rgb(43, 43, 41);
    border-radius: 5px;
    margin: 1rem auto;
    padding: 0 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    box-shadow: 2px 2px 5px #3B3936;
}

.teamItem > span{
    margin-right: auto;
    font-size: 1.5rem;
}

.teamItem > button{
    margin-right: 1rem;
    width: 6rem;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
}

.teamItem > button:hover{
    background-color:darkslategray;
    cursor: pointer;
    color: white;
}

.teamItem > .delete:hover{
    background-color:crimson;
}

.createTeam{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 3rem;
}

.updateTeam{
    text-align: center;
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.createTeam > form > input
{
    height: 3rem;
    width: 20rem;
    text-indent: 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border:  1px solid #3B3936;
    font-size: 1.5rem;
}

.createTeam > form{
    display: flex;
    justify-content: center;
}

.updateTeam > form{
    display: flex;
    justify-content: center;
}

.updateTeam > form > input{
    height: 3rem;
    width: 20rem;
    text-indent: 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border:  1px solid #3B3936;
    font-size: 1.5rem;
}

.createTeam > form > button{
    height: 3rem;
    width: 10rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px;
    
}

.updateTeam > form > button{
    height: 3rem;
    width: 10rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px;
}

.createTeam > form > button:hover{
    background-color:darkslategray;
    cursor: pointer;
    color: white;
}

.updateTeam > form > button:hover{
    background-color:darkslategray;
    cursor: pointer;
    color: white;
}

.response{
    font-size: 3rem;
    text-align: center;
    padding: 5rem;
}

.dark{
    color: #3B3936;
}

.pilot{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
}

.pilotItem{
    width: 40rem;
    height: 3.5rem;
    background-color: rgb(43, 43, 41);
    border-radius: 5px;
    margin: 1rem auto;
    padding: 0 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    box-shadow: 2px 2px 5px #3B3936;
}

.pilotItem > span{
    margin-right: auto;
    font-size: 1.5rem;
}

.pilotItem > button{
    margin-right: 1rem;
    width: 6rem;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
}

.pilotItem > button:hover{
    background-color:darkslategray;
    cursor: pointer;
    color: white;
}

.pilotItem > .delete:hover{
    background-color:crimson;
}

.updatePilot > form > .inputs > input {
    height: 3rem;
    width: 20rem;
    text-indent: 1rem;
    border: 1px solid #3B3936;
    font-size: 1.5rem;

}

.updatePilot > form > .inputs > input:first-child{
    border-top-left-radius: 10px;
}
.updatePilot > form > .inputs > input:last-child{
    border-bottom-left-radius: 10px;
}

.updatePilot > form{
    display: flex;
    flex-flow: row wrap;
}

.inputs{
    margin-top: 3rem;
    display: flex;
    flex-flow: column wrap;
}

.updatePilot > form > button{
    margin-top: 3rem;
    width: 12rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.updatePilot > form > button:hover{
    background-color:darkslategray;
    cursor: pointer;
    color: white;
}

.createPilot > form > .inputs > input {
    height: 3rem;
    width: 20rem;
    text-indent: 1rem;
    border: 1px solid #3B3936;
    font-size: 1.5rem;

}

.createPilot > form > .inputs > input:first-child{
    border-top-left-radius: 10px;
}
.createPilot > form > .inputs > input:last-child{
    border-bottom-left-radius: 10px;
}

.createPilot > form{
    display: flex;
    flex-flow: row wrap;
}

.createPilot > form > button{
    margin-top: 3rem;
    width: 12rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.createPilot > form > button:hover{
    background-color:darkslategray;
    cursor: pointer;
    color: white;
}

.createPilot{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}