html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    background-image: url("../public/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: spectral;
    margin: 0;
    padding: 0;
}

.msg{
    text-shadow: 2px 2px 5px #3B3936;
}

.innerModal{
    background-color: #486966;
    font-size: 1rem;
    border: #333 1px solid;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.innerModal .buttons > .button{
    width: 5rem;
}

.innerModal .buttons > .delete:hover {
    background-color: crimson;
}

#modal .buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#modal{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
}
  
#modal:empty {
display: none;
}

.innerModal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.innerModal > div {
max-width: 60rem;
padding: 1rem;
text-align: center;
border-radius: 30px;
background: #486966;
}

.header{
    padding: 1rem;
    background: #486966;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid #3B3936;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.logo{
    cursor: pointer;
    color: #889C9B;
    text-shadow: 2px 2px 5px #3B3936;
}

h2{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

.header > .logo > h2 {
    display: flex;
    align-items: center;
    height: 1rem;
    font-size: 3rem;
}

.header > .menu > ul {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}

.button{
    padding: 0.0625rem 1rem;
    background-color: #B2BEBF;
    border:  1px solid #3B3936;
    color: #3B3936;
    font-size: 1.5rem;
    font-family: spectral;
    box-shadow: 2px 2px 5px #3B3936;
    border-radius: 5px;
    border:  1px solid #3B3936;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover{
    background-color:darkslategray;
    cursor: pointer;
    color: white;
}

button{
    background-color: #B2BEBF;
    border:  1px solid #3B3936;
    color: #3B3936;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    font-family: spectral;
    box-shadow: 2px 2px 5px #3B3936;
}

.page{
    min-height: 98vh;
    min-width: 900px;
    max-width: 1000px;
    margin: 2vh auto 0 auto;
    padding-bottom: 2vh;
    background-color: #889C9B;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid #3B3936;
    box-shadow: 2px 2px 5px #3B3936;
}

.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3B3936;
    font-weight: 800;
    font-size: 1.5rem;
    margin-top: 5rem;
}

input{
    font-family: spectral;
    box-shadow: 2px 2px 5px #3B3936;
}

.row{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.row > .button{
    margin-right: auto;
    margin-left: 1rem;
    width: 10rem;
    height: 3rem;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 2px 2px 5px #3B3936;
}

.search{
    display: flex;
    justify-content: flex-end;
}

.search > form{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.search > form > input{
    width: 15rem;
    height: 3rem;
    text-indent: 0.5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:  1px solid #3B3936;
    font-size: 1.5rem;
    box-shadow: 2px 2px 5px #3B3936;
}

.search > form > button{
    margin-right: 1rem;
    width: 8rem;
    height: 3rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 2px 2px 5px #3B3936;
}

.search > form > button:hover{
    background-color:darkslategray;
    cursor: pointer;
    color: white;
}

.team{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.teamItem{
    width: 30rem;
    height: 3.5rem;
    background-color: rgb(43, 43, 41);
    border-radius: 5px;
    margin: 1rem auto;
    padding: 0 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    box-shadow: 2px 2px 5px #3B3936;
    gap: 1rem;
}

.teamItem > span{
    margin-right: auto;
    font-size: 1.5rem;
}

.teamItem > button{
    margin-right: 1rem;
    width: 6rem;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
}

.teamItem > button:hover{
    background-color:darkslategray;
    cursor: pointer;
    color: white;
}

.teamItem > .delete:hover{
    background-color:crimson;
}

.createTeam{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 3rem;
}

.updateTeam{
    text-align: center;
    margin: 3rem;
    display: flex;
    justify-content: center;
}

.createTeam > form > input
{
    height: 3rem;
    width: 20rem;
    text-indent: 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border:  1px solid #3B3936;
    font-size: 1.5rem;
}

.createTeam > form{
    display: flex;
    justify-content: center;
}

.updateTeam > form{
    display: flex;
    justify-content: center;
}

.updateTeam > form > input{
    height: 3rem;
    width: 20rem;
    text-indent: 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border:  1px solid #3B3936;
    font-size: 1.5rem;
}

.createTeam > form > button{
    height: 3rem;
    width: 10rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px;
    
}

.updateTeam > form > button{
    height: 3rem;
    width: 10rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px;
}

.createTeam > form > button:hover{
    background-color:darkslategray;
    cursor: pointer;
    color: white;
}

.updateTeam > form > button:hover{
    background-color:darkslategray;
    cursor: pointer;
    color: white;
}

.response{
    font-size: 3rem;
    text-align: center;
    padding: 5rem;
    text-shadow: 2px 2px 5px #3B3936;
}

.dark{
    color: #3B3936;
}

.pilot{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
}

.pilotItem{
    width: 40rem;
    height: 3.5rem;
    background-color: rgb(43, 43, 41);
    border-radius: 5px;
    margin: 1rem auto;
    padding: 0 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    box-shadow: 2px 2px 5px #3B3936;
    gap: 1rem;
}

.pilotItem > span{
    margin-right: auto;
    font-size: 1.5rem;
}

.pilotItem > button{
    margin-right: 1rem;
    width: 6rem;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
}

.pilotItem > button:hover{
    background-color:darkslategray;
    cursor: pointer;
    color: white;
}

.pilotItem > .delete:hover{
    background-color:crimson;
}

.updatePilot > form{
    display: flex;
    justify-content: center;
}

.updatePilot > form > .inputs > input {
    height: 3rem;
    width: 20rem;
    text-indent: 1rem;
    border: 1px solid #3B3936;
    font-size: 1.5rem;

}

.updatePilot > form > .inputs > input:first-child{
    border-top-left-radius: 10px;
}
.updatePilot > form > .inputs > input:last-child{
    border-bottom-left-radius: 10px;
}

.updatePilot > form{
    display: flex;
    flex-flow: row wrap;
}

.inputs{
    margin-top: 3rem;
    display: flex;
    flex-flow: column wrap;
}

.updatePilot > form > button{
    margin-top: 3rem;
    width: 12rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.updatePilot > form > button:hover{
    background-color:darkslategray;
    cursor: pointer;
    color: white;
}

.createPilot > form > .inputs > input {
    height: 3rem;
    width: 20rem;
    text-indent: 1rem;
    border: 1px solid #3B3936;
    font-size: 1.5rem;

}

.createPilot > form > .inputs > input:first-child{
    border-top-left-radius: 10px;
}
.createPilot > form > .inputs > input:last-child{
    border-bottom-left-radius: 10px;
}

.createPilot > form{
    display: flex;
    flex-flow: row wrap;
}

.createPilot > form > button{
    margin-top: 3rem;
    width: 12rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.createPilot > form > button:hover{
    background-color:darkslategray;
    cursor: pointer;
    color: white;
}

.createPilot{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}